body{
    background-color: #244542;
    color: white;
    font-family: 'Comic Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #1a2f2e;
    padding: 15px 0;
    border-bottom: 2px solid #aaffaa;
    /* fixar o header mesmo ao scrollar */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav ul {
    list-style:  none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    /* esse azul do lnik eh mt feio */
    text-decoration: none;
    color: #aaffaa;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffffff;
}

main{
    padding: 70px 40px;
}


footer {
    background-color: #1a2f2e;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 80px;
    font-size: 14px;
    border-top: 2px solid #aaffaa;
}

h1, h2 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: normal;
}

.titulo {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 20px;
    margin-bottom: 20px;
}

.tabela-planta th {
    background-color: #1a2f2e;
    color: #aaffaa;
}

.tabela-planta {
    width: 100%;
    border-collapse: collapse;
    color: #aaffaa;
}

.tabela-planta th,
.tabela-planta td {
    border: 1px solid #ffffff33;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

.tabela-planta img {
    border-radius: 8px;
}

.tabela-dia td {
    background-color: #356e35;
    color: #e9ffe9;
}

.tabela-dia th {
    background-color: #2a552a;
    color: #aaffaa;
}

.tabela-noite td {
    background-color: #2a354a;
    color: #ddeeff;
}

.tabela-noite th {
    background-color: #1f2a3a;
    color: #88aaff;
}

.tabela-piscina td {
    background-color: #1b5f70;
    color: #ccf5ff;
}

.tabela-piscina th {
    background-color: #134b5c;
    color: #00e5ff;
}

.tabela-nightroof th {
    background-color: #2e1313;
    color: #ff6961;
}

.tabela-nightroof td {
    background-color: #3a1e1e;
    color: #ffffff;
}

.titulo-planta {
    text-align: left;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.section-container {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

hr {
    border: none;
    height: 1px;
    background-color: #aaa;
    opacity: 0.3;
    margin: 30px 0;
}

.titulo-dia {
    color: #66ff66;
}

.titulo-noite {
    color: #446688;
}

.titulo-piscina {
    color: #00bcd4;
}

#dia {
    background-color: #2d5f2e;
    border-left: 5px solid #66ff66;
}

#noite {
    background-color: #1e2b3b;
    border-left: 5px solid #446688;
}

#piscina {
    background-color: #1b4c5c;
    border-left: 5px solid #00bcd4;
}